{% extends 'base.html' %}

{% block title %}Сторінка 2{% endblock %}

{% block body %}
<div class="container">
    <h2>Сторінка 2</h2>
    <p>Я дуже полюбляю автомобілі, з дитячого віку їздив на колінах у тата та у дідусів, передивився усі можливі фільми про автомобілі, а також зараз сам володі та кермую автомобілем. Нижче буде фото мого автомобіля.</p>
    <table>
    <tr>
        <th>Рік</th>
        <th>Модель</th>
        <th>Досягнення</th>
    </tr>
    <tr>
        <td>2006</td>
        <td>Camry</td>
        <td>Найпопулярніша модель у світі</td>
    </tr>
    <tr>
        <td>2010</td>
        <td>Prius</td>
        <td>Світовий лідер у продажах гібридних автомобілів</td>
    </tr>
    <tr>
        <td>2014</td>
        <td>Corolla</td>
        <td>Найбільш продавана модель у світі</td>
    </tr>
    <tr>
        <td>2018</td>
        <td>Rav4</td>
        <td>Серед лідерів у продажах кросоверів</td>
    </tr>
    <tr>
        <td>2022</td>
        <td>Highlander</td>
        <td>Зберігає популярність серед сімейних автомобілів</td>
    </tr>
</table>

<div style="text-align: center;">
        <img src="/static/images/image2.jpg" alt="Зображення 2" style="width: 600px; height: auto;">
        <h4><a href="{{ url_for('about') }}">Повернутися до біографії</a></h4>
   </div>
</div>
{% endblock %}

