{% block head %}
<title>{{ title }}</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
{% endblock %}

{% extends "base.html" %}

{% import 'macros.html' as macros %}

{% block content %}
<div class="skills-section">
  <div class="container">
    <h2>Register</h2>
    <form method="POST">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.username.label(class="form-control-label") }}
        {{ form.username(class="form-control", placeholder="Username") }}
        {% if form.username.errors %}
          <div class="alert alert-danger">
            {{ form.username.errors | join(', ') }}
          </div>
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.email.label(class="form-control-label") }}
        {{ form.email(class="form-control", placeholder="Email") }}
        {% if form.email.errors %}
          <div class="alert alert-danger">
            {{ form.email.errors | join(', ') }}
          </div>
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.password.label(class="form-control-label") }}
        {{ form.password(class="form-control", placeholder="Password") }}
        {% if form.password.errors %}
          <div class="alert alert-danger">
            {{ form.password.errors | join(', ') }}
          </div>
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.confirm_password.label(class="form-control-label") }}
        {{ form.confirm_password(class="form-control", placeholder="Confirm Password") }}
        {% if form.confirm_password.errors %}
          <div class="alert alert-danger">
            {{ form.confirm_password.errors | join(', ') }}
          </div>
        {% endif %}
      </div>
      <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
  </div>
</div>
{% endblock %}